PG_HOST=localhost
PG_PORT=5432
PG_USER=osm_user
PGPASSWORD=osmiscool
PG_DB=osm
PG_MAINTENANCE_DB=postgres

PG_TILESERV_PORT=7800

PG_FEATURESERV_PORT=9000

PGADMIN_PORT=5050
PGADMIN_EMAIL=a@b.de
PGADMIN_PASSWORD=catsarecool

TEST=false

LUA_SCRIPT=all_highways_with_infrastructure_types.lua

CITIES=BERN,WEIMAR,WICHITA_FALLS,BERLIN

# Bern
BERN_RESTRICTION=CH
BERN_REGION_URL=https://download.geofabrik.de/europe/switzerland-latest.osm.pbf
BERN_BOUNDARIES_URL=https://www.openstreetmap.org/api/0.6/relation/1682378/full

# Weimar
WEIMAR_RESTRICTION=DE
WEIMAR_REGION_URL=https://download.geofabrik.de/europe/germany/thueringen-latest.osm.pbf
WEIMAR_BOUNDARIES_URL=https://www.openstreetmap.org/api/0.6/relation/62493/full

# Wichita Falls
WICHITA_FALLS_RESTRICTION=US
WICHITA_FALLS_REGION_URL=https://download.geofabrik.de/north-america/us/texas-latest.osm.pbf
WICHITA_FALLS_BOUNDARIES_URL=https://www.openstreetmap.org/api/0.6/relation/113890/full

# Berlin
BERLIN_RESTRICTION=DE
BERLIN_REGION_URL=https://download.geofabrik.de/europe/germany/berlin-latest.osm.pbf