PG_HOST=localhost
PG_PORT=5432
PG_USER=osm_user
PGPASSWORD=osmiscool
PG_DB=osm
PG_MAINTENANCE_DB=postgres

PG_TILESERV_PORT=7800

PG_FEATURESERV_PORT=9000

PGADMIN_PORT=5050
PGADMIN_EMAIL=a@b.de
PGADMIN_PASSWORD=catsarecool

#Bern
REGION_URL=https://download.geofabrik.de/europe/switzerland-latest.osm.pbf
BOUNDARIES_URL=https://www.openstreetmap.org/api/0.6/relation/1682378/full

#Berlin
#REGION_URL=https://download.geofabrik.de/europe/germany/berlin-latest.osm.pbf

#LUA_SCRIPT=all_highways_without_infrastructure_types.lua
LUA_SCRIPT=all_highways_with_infrastructure_types.lua
#LUA_SCRIPT=only_area_highway.lua